<div class="conversation-message">
  <h1><%= @conversation.subject %></h1>
  <% @conversation.receipts_for(current_user).each do |receipt| %>
    <% message = receipt.message %>
    From: <%= link_to(message.sender.name, profile_path(message.sender)) %><br>
    When: <%= distance_of_time_in_words(Time.now, message.created_at) %> ago
    <div>
      <%= message.body %>
    </div>

  <% end %>
  <%= form_tag reply_conversation_path(@conversation), method: :post do %>
    <%= text_area_tag 'body', nil, placeholder: 'Say something nice...', required: true %>
    <%= submit_tag("Reply", class: "reply-button")%>
  <% end %>
  <br>
   <%= link_to("back to inbox", conversations_path) %>
</div>