<div class="welcome-image">
  <%= image_tag("welcome.png")%>
</div>

<div class="index-recent-activity">
  <h1>Your last message</h1>
  <h2><%= link_to(@conversation.subject, conversation_path(@conversation)) %></h2>
  <p class="index-message"><%= @conversation.receipts.first.message.body %></p>
  <p>from <%= link_to(@conversation.receipts.first.message.sender.name, profile_path(@conversation.receipts.first.message.sender)) %> <%= distance_of_time_in_words(Time.now, @conversation.receipts.first.message.created_at) %> ago</p>
</div>

<div class="index-recent-activity">
  <h1>Recent users</h1>
  <% @user.each do |user| %>
    <div class="user-div">
      <%= render partial: 'profilepic', locals: {profile: user.profile} %>
      <div class="user-blurb">
        <h3><%= link_to(user.name , profile_path(user)) %>, <%= user.profile.age %></h3>
        <p><%= user.profile.short_bio %></p>
        <span>Interests:</span> <br><%= user.profile.interests %>
      </div>
    </div>
  <% end %>
</div>

<div class="index-recent-activity">
  <h1>Upcoming Events</h1>
</div>