<div class="welcome-image">
  <%= image_tag("welcome.png")%>
</div>

<div class="index-recent-activity">
  <h1>Upcoming Events</h1>
</div>

<div class="index-recent-activity">
  <h1>Recent users</h1>
  <% @user.each do |user| %>
    <div class="user-div">
      <%= link_to(image_tag("jgl.jpg"), profile_path(user)) %>
      <div class="user-blurb">
        <h3><%= link_to(user.name , profile_path(user)) %>, <%= user.profile.age %></h3>
        <p><%= user.profile.short_bio %></p>
        <span>Interests:</span> <br><%= user.profile.interests %>
      </div>
    </div>
  <% end %>
</div>

<div></div>
