<div class="welcome-image">
  <%= image_tag("welcome.png")%>
</div>

<div class="index-recent-activity">
  <p>Recent users</p>
  <% @user.each do |user| %>
    <div class="user-div">
      <%= link_to(image_tag("jgl.jpg"), profile_path(user)) %>
      <div class="user-blurb">
        <h3><%= link_to(user.name , profile_path(user)) %>, <%= user.profile.age %></h3>
        <p><%= user.profile.short_bio %></p>
        <p>Interests: <%= user.profile.interests %></p>
      </div>
    </div>
  <% end %>
  <!-- <div class="border"></div> -->
</div>

<div></div>
